@import "_colors.scss";

*{
    box-sizing: border-box;   
    padding: 0;
    margin: 0;     
    text-decoration: none;
    list-style: none;
    font-family: $Sans;
}


$yellow:#1D72C2;
$black:#000000;
$grey:#cccccc;

#companies{
    width: 1366px;
    height: 1000px;
    background-color: white;
}
#div_title {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 0px 200px;

    button{
        width: 100px;
        height: 55px;
        font-family: $Sans;
        font-size: 14px;
        color: white;
        background-color: #1D72C2;
        outline: none;
        cursor: pointer;
        border: 1px solid white;
    }
   
}

table {
    width: 1000px ;
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    tbody {
        th {
        font-weight: 400;
        } 
    }
    .edit {
        display: inline-block;  
        font-weight: 400;
        font-size: 16px;
     }
    .delete{
        
        display: inline-block;
        padding-left: 10px;
       
        
    }
}

.new_div {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    //padding: 300px;
    text-align: center;
    background: rgba(0,0,0,0.80);
    color: #000000;
    z-index: 999; 

    .bigger_gif {
        background: linear-gradient(#1D72C2 40%, white 40%) no-repeat;
        width: 1215px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        margin-bottom: 100px;

        p {
            color: white;
            font-weight: bold;
            font-size: 25px;
            float: left;
            padding-left: 10px;
            padding-top: 10px;
           
        }
     
    }
    .add_company {
        width: 1170px;
        height: 130px;
        background-color: white;
        border: 3px solid #0683F9;
        border-radius: 6.5px;
        border-radius: 6.5px;
        margin-left: auto;
        margin-right: auto;
        //position: absolute;
        margin-top: -340px;
        
        form{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                padding-right: 5px;
                padding-left: 5px;
            }

            p{
                font-size: 15px;
                text-align: left;
                padding-bottom: 3px;
            }

            input{
                    &[type="name"], &[type="email"], &[type="password"], &[type="perfil"] {
                        height: 30px;                         
                        border: 1px solid #CCCCCC;
                    } 
            
            } 
        }
       
    }
    .buttons_company {
        
        padding-top: 65px;
        padding-left: 700px;

            .save {
               
                background-color: rgba(0,0,0,0.25);
                border-radius: 2px;
                border-radius: 2px;
                width: 170px;
                height: 40px;
                outline: none;
                cursor: pointer;
                border: 1px solid white;
                color: white;
                font-size: 15px;
                font-weight: bold;
               
            }

            .cancel {
                outline: none;
                cursor: pointer;
                border: 1px solid white;
                color: white;
                background-color: rgba(0,0,0,0.25);
                border-radius: 2px;
                border-radius: 2px;
                font-size: 15px;
                font-weight: bold;
                margin-right: 10px;
                width: 170px;
                height: 40px;
               
            }
     }
}