@import "_colors.scss";

*{
    box-sizing: border-box;   
    padding: 0;
    margin: 0;     
    text-decoration: none;
    list-style: none; 
}

nav {
    height: 64px;
    width: 1366px;
    background: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        margin-left: 30px;
        font-size: 25px;
        font-family: $Sans;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    li{
        display: inline-block; 
        text-align: center;
        width: 130px;
        
        a{
            font-family: $Sans;
            color: white;
            margin-right: auto;
            
            &:hover{   
                font-weight: bold;
                padding-top: 20px;
                margin: auto;
                padding-bottom: 18px;
                width: 41px;
                border-bottom: 2px solid #FFFFFF;
            }
       }
       
   
        
    }
      
    
}